import processing.core.PApplet;
import ddf.minim.*;

public class vis extends PApplet {
    private Minim minim;
    private AudioPlayer audio;
    public static void main(String[] args) {
        PApplet.main("vis");
    }
    public void settings(){
        size(1600, 900);
    }
    public void setup(){
        background(0,0,0);
        minim = new Minim(this);
        audio =minim.loadFile("song/Sub Urban - Cradles _NCS Release_.mp3");
        audio.loop();
    }
    public void draw(){
        background(0,0,0);
        float[] lc = audio.left.toArray();
        float[] rc = audio.right.toArray();
        for(int i = 0; i < lc.length-1; i++){
            stroke(0, 100, 80);
            drawChannel(lc, i, 700);
            stroke(0, 185, 47);
            drawChannel(lc, i, 200);
        }
    }
    public void drawChannel(float[] a, int i, int offset){
        int amp = 125;

        line(i, amp * a[i] + offset, i + 1, amp * a[i + 1] + offset);
    }

}
